@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --accent: #0ff0fc; /* Electric Cyan */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
}

/* lenis smooth scroll base */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
